<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Biblioteca</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/libros" routerLinkActive="active">Libros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/autores" routerLinkActive="active">Autores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-autor" routerLinkActive="active">Agregar autor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-libro" routerLinkActive="active">Agregar libro</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
